

.icon {
    width: 1.75em;
    height: 2em;
    vertical-align: -.250em;
    margin-left: 10;
}

.icon:hover {
    opacity:.3;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .colHome {
        padding-top: 0vh;
        padding-bottom: 5vh;
        height: 40vh, 
       
    }
}

@media only screen and (min-width: 610px) {
    .colHome {
        padding-top: 25vh; 
        height: 95vh;
    }
}

.homeTextStyle {
  font-family: cursive;
        /* fontFamily: 'Nerko One', 
        color: 'black',
        fontWeight: 'bold',
        fontSize:'2.5vw' */
      
}

@media only screen and (max-width: 600px){
    .colImage {
        height: 55vh;
        
        background-image: url("/Users/mhoffmann/Development/website/src/img/mhoffmann.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
        
    }
 }
 
@media only screen and (min-width: 900px){
.colImage {
    height: 95vh;
    background-image: url("/Users/mhoffmann/Development/website/src/img/mhoffmann.png");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: bottom;
}
}


